@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: .2s;
  transition: .2s;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.container-fluid {
  max-width: 100%;
  width: 100%;
  padding: 0px 0px;
  margin: 0 auto;
}

.container {
  max-width: 100%;
  width: 100%;
  padding: 0px 20px;
  margin: 0px auto;
}

.btn {
  display: none;
}

h1,
h2,
h3 {
  font-size: 22px;
}

h4 {
  font-size: 24px;
}

button {
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 0px none;
}

button:hover {
  opacity: .4;
}

.subtitle {
  max-width: 474px;
  margin-top: 40px;
}

.navbar a {
  text-decoration: none;
  cursor: pointer;
}

.navbar a img {
  max-width: 100%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar a img:hover {
  opacity: .7;
}

.info__wrapper {
  max-width: 100%;
  background-color: #E5E5E5;
  width: 100%;
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.info__wrapper .article__block {
  background-color: red;
  max-width: 200px;
  padding: 20px 20px;
}

.info__wrapper .article__block .article__menu button {
  background: transparent;
  padding: 10px 0px;
}

.info__wrapper .article__block .article__link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.info__wrapper .article__block .article__link-block h1 {
  color: #fff;
}

.info__wrapper .article__block .article__link-block a {
  text-decoration: none;
  color: #000;
  margin-top: 9px;
  font-weight: 600;
}

.info__wrapper .info__block {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__wrapper .info__block .info__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
}

.info__wrapper .info__block .info__navbar a {
  color: #000;
  font-weight: 700;
  margin: 0px 20px;
  text-decoration: none;
}

.info__wrapper .info__block .info__navbar .search__button {
  padding: 9px 33px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
}

.info__wrapper .info__block .info__navbar form {
  position: absolute;
  z-index: 1000;
}

.info__wrapper .info__block .info__navbar form input {
  width: 400px;
  padding: 10px 25px;
  border: 0px none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.info__wrapper .info__block .info__navbar .lang {
  padding: 9px 13px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  border-radius: 7px;
  text-transform: uppercase;
}

.info__wrapper .info__block .info__card {
  padding: 10px 35px;
  background-color: #fff;
  max-width: 520px;
  margin-top: 30px;
  border-radius: 10px;
}

.info__wrapper .info__block .info__card .info__card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.info__wrapper .info__block .info__card .info__card-head button {
  color: #000;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  margin-left: 30px;
}

.info__wrapper .info__block .info__card .info__card-body ul li {
  color: red;
  list-style: none;
}

.info__wrapper .info__block .info__card .info__card-body ul li::before {
  content: "\2022";
  color: red;
  background: red;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 100%;
  display: inline-block;
  line-height: 0.3rem;
  text-align: center;
  margin-right: 0.5rem;
}

.info__wrapper .info__block .info__card .info__card-body ul li a {
  text-decoration: none;
  color: red;
  font-weight: 700;
}

.info__wrapper .news__block {
  background-color: #fff;
  max-width: 300px;
  padding: 20px 20px;
}

.info__wrapper .news__block .news__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__wrapper .news__block .news__head img {
  margin-left: 20px;
}

.info__wrapper .news__block .news__slider .news__slide-block {
  margin-top: 30px;
}

.info__wrapper .news__block .news__slider .news__slide-block p {
  border: 2px solid #e5e5e5;
  padding: 15px 10px;
  border-radius: 10px;
}
/*# sourceMappingURL=main.css.map */